Dona_Clarita_Java/src/META-INF/wsdl/localhost_58728/Hostal.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://localhost:58728/Hostal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HostalWeb.Servicios"/><xs:element name="Authenticate"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="AuthenticateResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="AuthenticateResult" nillable="true" type="q1:CompositeType" xmlns:q1="http://schemas.datacontract.org/2004/07/HostalWeb.Servicios"/></xs:sequence></xs:complexType></xs:element><xs:element name="CreateTrabajador"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="xmlTrabajador" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="CreateTrabajadorResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="CreateTrabajadorResult" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element><xs:element name="ObtenerUsuario"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="ObtenerUsuarioResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ObtenerUsuarioResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>